---
import { IconMapPin } from "@/components/icon/IconMapPin";
import { Input } from "@/components/interactive/Input";
import { PrimaryButton } from "@/components/interactive/PrimaryButton";
---

<aside
  class="border border-black/15 w-full md:max-w-[300px] md:sticky top-28 lg:top-40"
>
  <h3 class="px-4 py-2 border-b border-black/15 font-bold">
    New ServiceNow Jobs via Email
  </h3>
  <form class="p-4 grid gap-4" action="">
    <p class="text-gray-600">
      Stay up to date with new roles and opportunities. Sent weekly
    </p>
    <Input placeholder="Name" />
    <Input placeholder="Email" type="email" />
    <Input name="location" placeholder="Enter location">
      <IconMapPin strokeWidth={2} size={16} /></Input
    >
    <PrimaryButton className="w-max" type="submit">Submit</PrimaryButton>
  </form>
</aside>
