---
import Layout from "@/layouts/Layout.astro";
import { meta } from "@/lib/const/meta";
---

<Layout
  title={meta.notFound.title}
  description={meta.notFound.description}
  keywords={meta.notFound.keywords}
>
  <main></main>
</Layout>
