---
import SectionHeader from "@/components/section/page/home/SectionHeader.astro";
import SectionCallToAction from "@/components/section/page/home/SectionCallToAction.astro";
import SectionRecentJobs from "@/components/section/SectionRecentJobs.astro";
import Layout from "@/layouts/Layout.astro";
import { meta } from "@/lib/const/meta";
---

<Layout
  title={meta.index.title}
  description={meta.index.description}
  keywords={meta.index.keywords}
>
  <SectionHeader />
  <main>
    <SectionCallToAction />
    <SectionRecentJobs />
  </main>
</Layout>
